In [7]:
import sqlite3
import pandas as pd

In [8]:
con = sqlite3.connect("cademycode_updated.db")
cur = con.cursor()

In [6]:
res = cur.execute("select name from sqlite_master")
res.fetchall()

[('cademycode_students',),
 ('cademycode_courses',),
 ('cademycode_student_jobs',)]

### Table names
- cademycode_students
- cademycode_courses
- cademycode_student_jobs

In [20]:
df_students = pd.read_sql_query("select * from cademycode_students", con)
df_courses = pd.read_sql_query("select * from cademycode_courses", con)
df_student_jobs = pd.read_sql_query("select * from cademycode_student_jobs", con)

In [26]:
df_students.head()
df_courses.head()
df_student_jobs.head()

   career_path_id      career_path_name  hours_to_complete
0               1        data scientist                 20
1               2         data engineer                 20
2               3          data analyst                 12
3               4  software engineering                 25
4               5      backend engineer                 18

In [22]:
print(df_students.shape)
print(df_courses.shape)
print(df_student_jobs.shape)

(6000, 9)
(10, 3)
(13, 3)

In [23]:
df_students.drop_duplicates(inplace=True)
df_courses.drop_duplicates(inplace=True)
df_student_jobs.drop_duplicates(inplace=True)

In [24]:
print(df_students.shape)
print(df_courses.shape)
print(df_student_jobs.shape)

(6000, 9)
(10, 3)
(10, 3)

In [31]:
print(df_students.dtypes)
print('------------------')
print(df_courses.dtypes)
print('------------------')
print(df_student_jobs.dtypes)

uuid                       int64
name                      object
dob                       object
sex                       object
contact_info              object
job_id                    object
num_course_taken          object
current_career_path_id    object
time_spent_hrs            object
dtype: object
------------------
career_path_id        int64
career_path_name     object
hours_to_complete     int64
dtype: object
------------------
job_id           int64
job_category    object
avg_salary       int64
dtype: object

In [32]:
print(df_students.nunique())
print('------------------')
print(df_courses.nunique())
print('------------------')
print(df_student_jobs.nunique())

uuid                      6000
name                      5998
dob                       5277
sex                          3
contact_info              6000
job_id                      10
num_course_taken            16
current_career_path_id      10
time_spent_hrs            2448
dtype: int64
------------------
career_path_id       10
career_path_name     10
hours_to_complete     7
dtype: int64
------------------
job_id          10
job_category    10
avg_salary       9
dtype: int64

In [33]:
print(df_students.isna().sum())
print('------------------')
print(df_courses.isna().sum())
print('------------------')
print(df_student_jobs.isna().sum())

uuid                        0
name                        0
dob                         0
sex                         0
contact_info                0
job_id                     14
num_course_taken          267
current_career_path_id    487
time_spent_hrs            487
dtype: int64
------------------
career_path_id       0
career_path_name     0
hours_to_complete    0
dtype: int64
------------------
job_id          0
job_category    0
avg_salary      0
dtype: int64