In [7]:
import sqlite3
import pandas as pd

In [8]:
con = sqlite3.connect("cademycode_updated.db")
cur = con.cursor()

In [6]:
res = cur.execute("select name from sqlite_master")
res.fetchall()

[('cademycode_students',),
 ('cademycode_courses',),
 ('cademycode_student_jobs',)]

### Table names
- cademycode_students
- cademycode_courses
- cademycode_student_jobs

In [20]:
df_students = pd.read_sql_query("select * from cademycode_students", con)
df_courses = pd.read_sql_query("select * from cademycode_courses", con)
df_student_jobs = pd.read_sql_query("select * from cademycode_student_jobs", con)

In [26]:
df_students.head()
df_courses.head()
df_student_jobs.head()

   career_path_id      career_path_name  hours_to_complete
0               1        data scientist                 20
1               2         data engineer                 20
2               3          data analyst                 12
3               4  software engineering                 25
4               5      backend engineer                 18

In [22]:
print(df_students.shape)
print(df_courses.shape)
print(df_student_jobs.shape)

(6000, 9)
(10, 3)
(13, 3)

In [23]:
df_students.drop_duplicates(inplace=True)
df_courses.drop_duplicates(inplace=True)
df_student_jobs.drop_duplicates(inplace=True)

In [24]:
print(df_students.shape)
print(df_courses.shape)
print(df_student_jobs.shape)

(6000, 9)
(10, 3)
(10, 3)